// app global css
.tab {
  flex: 1 !important;
}
.q-card-title {
  padding 1em;
  text-align justify
}

.q-stepper {
    min-height: calc(100vh - 143px)
}

.caption {
    margin-bottom 8px
}

.q-input {
    height 56px !important
    align-self center
}

.q-stepper-horizontal > .q-stepper-nav {
    margin 0 16px 16px
}

.q-stepper-horizontal > .q-stepper-step > .q-stepper-step-content > .q-stepper-step-inner {
    padding: 24px 24px 56px 24px;
}

@media screen and (max-width: 575px) {
    .q-card-title {
        font-size 1rem
        line-height 1.5rem
    }
    .q-item-label {
        font-size 0.8rem
        line-height 0.8rem
    }
}

@media screen and (max-width 768px) {
    .q-stepper-horizontal > .q-stepper-step > .q-stepper-step-content > .q-stepper-step-inner {
       padding: 0px 24px 65px 24px;
    }
}

@media screen and (min-width: 1200px) {
    .layout-padding{
        padding 3rem 10rem
    }
}